parameters:
    paths:
        - src
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Guard::login\(\).#'
